desktop.ini
.idea
db.sqlite3
*.pyc
*migrations/
migrations/
app/__pycache__/
app/config/__pycache__/
app/core/__pycache__/
app/core/migrations/
app/core/cliente/__pycache__/
app/core/cliente/migrations/
app/core/contacto/__pycache__/
app/core/contacto/migrations/
app/core/index/__pycache__/
app/core/index/migrations/
app/core/insumos/__pycache__/
app/core/insumos/migrations/
app/core/login/__pycache__/
app/core/login/migrations/
app/core/pedidos/__pycache__/
app/core/pedidos/migrations/
app/core/perfil/__pycache__/
app/core/perfil/migrations/
app/core/reportar/__pycache__/
app/core/reportar/migrations/
app/core/ayuda/__pycache__/
app/core/ayuda/migrations/
app/core/nosotros/__pycache__/
app/core/nosotros/migrations/
app/core/cronograma/__pycache__/
app/core/cronograma/migrations/
app/core/user/__pycache__/
app/core/user/migrations/
app/config/__pycache__/settings.cpython-39.pyc
app/config/__pycache__/urls.cpython-39.pyc
app/core/__pycache__/models.cpython-39.pyc
app/core/reportar/__pycache__/urls.cpython-39.pyc
app/db.sqlite3