desktop.ini
*.pyc
app/__pycache__/
app/config/__pycache__/
app/core/__pycache__/
app/contacto/__pycache__/
app/index/__pycache__/
app/insumos/__pycache__/
app/migrations/__pycache__/
app/pedidos/__pycache__/
app/perfil/__pycache__/
app/reportar/__pycache__/
app/core/cliente/migrations/__pycache__/
app/core/contacto/__pycache__/urls.cpython-39.pyc
app/core/contacto/__pycache__/views.cpython-39.pyc
app/core/reportar/__pycache__/models.cpython-39.pyc
app/core/reportar/__pycache__/urls.cpython-39.pyc
app/core/reportar/__pycache__/views.cpython-39.pyc
