*{
    color: #452B04;
}


.logo{
    width: 100px;
}



.btn-estilo{
    background-color:#F0B27A;
    border-color:  #452B04 ;
    color:   #452B04;
}


.btn-estilo:focus, .btn-estilo:hover {
    background-color:#764A09;
    border-color:   #F0B27A ;
    color:   #ffffff ;
}




i{
    color: inherit;
}



.link-estilo{
    color: #764A09 !important;
} 

.link-estilo:hover{
    color: #452B04 !important;
}




@media screen and (max-width:346px) {
    .btn-estilo{
        padding: 5% 2px;

    }

    .card-body{
        padding: 10px;
    }

    .recybtn{
        padding: 0%;        
    } 
    
    .recybtn div .col-8{
        padding: 0px 1px !important;
        width: 50% !important;
        margin: 0% !important;
        max-width: 54% !important;
    }

    .col-8 {
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 54.666667%;
    }

    .icheck-primary, #remember{
        margin: 2px 1px;
        padding: 1px 1px;
        width: fit-content;
    }

}

@media screen and (max-width:261px) {
    .recybtn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icheck-primary{
        padding: 0%;
        margin: auto;
    }

}

