{% extends 'baseotros.html' %}
{% load static %}

  {% block title %}
    NEEDLEBOX - Reportar Error
  {% endblock %}


    <!--mis estilos-->
    {% block mycss %}
      <link rel="stylesheet" href="{% static 'myCss/reportar_errorStyle.css' %}">
    {% endblock %}


{% block content%}

  <!-- Preloader -->
  {% include 'preloaderNeedlebox.html' %}
  <!--fin preloader-->


  <!--Encabezado de sección-->
  <div class="mod-act c-report"><div class="cover"><span class="mod-act-nom">Reportar Error</span></div></div>


  <!--Aqui iria el contenido-->
      <div style="background-color: #f5f5f5;">

            <!-- INICIO Formulario de errores-->
            <form method="post" action="{% url 'reportar' %}">
                {% csrf_token %}

                  {% if 'ok' in request.GET %}
                    <p style="text-align: center">
                        <b>Su mensaje se ha enviado correctamente, gracias por ayudarnos a mejorar.</b>
                    </p>
                  {% endif %}

                <div class="report" >
                  <!-- titulo-->
                  <fieldset class="headertable">
                    <legend>Formulario de error</legend>
                  </fieldset>
                  <!-- fin titulo-->



                  <!-- contenido-->
                  <label for="name">Nombre</label>
                    {{ form.error_nombre }}
                  <label for="email">Correo</label>
                    {{ form.correo_usu }}

                  <!-- lista desplegable-->
                  <label for="formulario_error">Tipo de error</label>
                    {{ form.tip_error }}
                  <!-- fin lista desplegable-->

                  <label for="message">Detalles del error</label>
                  <div class="message">
                      {{ form.cont_mensaje }}
                  </div>
                  <button onclick="myFunction()" value="Enviar" type="submit">Enviar</button>

                </div>
            </form>
              <!-- FIN formulario de errores -->

          <!--Sweetalert2 -->
          <script>
              function myFunction(){
                Swal.fire(
                  'Buen trabajo!',
                  'Su reporte ha sido enviado!',
                  'success'
                )
              }
          </script>

      </div>


  <!--fin del copypaste de adminlte-->

{% endblock %}