{% extends 'baselogin.html' %}

{% load static %}

{% load widget_tweaks %}


<!--title del head-->
{% block title %}
    Crear nueva cuenta
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/loginregusuStyle.css' %}">

{% endblock %}

{% block content%}

<body class="register-page" style="min-height: 570.58px;">


  <!------contenido del login--------------------------------------------------------------------------------------------------------------------------->

    <div class="register-box">
        <br>

      <div class="register-logo">
        <img class="logo" src="{% static 'myImg/needlebox-logo1.2.png' %}" alt="NeedleboxLogo">
        <br>
        <a href="{% url 'index' %}"><b>NEEDLEBOX</b></a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Regístrese por primera vez</p>
    
          <form action="{% url 'login2' %}" method="post">

             {% csrf_token %}
             <input type="hidden" name="action" value="{{ action }}">
             {{ form.errors }}


            <div class="input-group mb-3">
                <label for="inputName"></label>
                 {{ form.visible_fields.2 }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="far fa-address-card"></span>
                </div>

              </div>
            </div>

              <div class="input-group mb-3">
                <label for="inputUserName"></label>
                 {{ form.visible_fields.1 }}
                  <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>

              </div>
            </div>


            <div class="input-group mb-3">

              <label for="inputEmail"></label>
                 {{ form.visible_fields.4 }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <label for="inputpass"></label>
                 {{ form.visible_fields.0 }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
                 <label for="inputpass2"></label>
                {{ form.visible_fields.7 }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

              <div class="row reg-usu-acybt">
              <div class="col-8 ">
                <div class="icheck-primary">
                 <label for="box"></label>
                 <input type="checkbox" id="box" onclick ="reveal()">

                  <label for="showpassword" style="font-size: small;" class="acept">
                   mostrar contraseñas
                  </label>
                </div>
              </div>
              </div>

              <div class="input-group mb-3">
                 <label for="pregun-secur"></label>
                {{ form.visible_fields.5 }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user-lock"></span>
                </div>
              </div>
            </div>

              <div class="input-group mb-3">
                 <label for="pregun-secur-res"></label>
                {{ form.visible_fields.6 }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-key"></span>
                </div>
              </div>
            </div>

            <div class="row reg-usu-acybt">
              <div class="col-8 ">
                <div class="icheck-primary">
                 <label for="agreeTerms"></label>
                    {{ form.visible_fields.8 }}
                  <label for="agreeTerms" style="font-size: small;" class="acept">
                   Acepto los <a href="#" class="link-estilo">términos y condiciones</a>
                  </label>
                </div>
              </div>

              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block btn-estilo">Enviar</button>
              </div>
              <!-- /.col -->
            </div>

          </form>

          <div class="social-auth-links text-center mb-3">
            <p>- O también -</p>
            <a href="#" class="btn btn-block btn-primary btn-estilo">
              <i class="fab fa-facebook mr-2 "></i> Ingrese usando Facebook
            </a>
          </div>
    
          <a href="{% url 'login1' %}" class="text-center link-estilo">Ya estoy registrado</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>

   <p style="color:#e9ecef">Holi, soy un easteregg</p>

<script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + 'error : Ajax' + errorThrown);

            }).always(function (data) {

            });
        });
</script>

<script type="text/javascript">
function reveal()
{
if(document.getElementById('box').checked)
   {document.getElementById("inputpass").type='text';}
else
document.getElementById("inputpass").type='password';
if(document.getElementById('box').checked)
   {document.getElementById("inputpass2").type='text';}
else
document.getElementById("inputpass2").type='password';
}
</script>

{% endblock %}
