{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos - Nuevo insumo
{% endblock %}

{% block content %}
 <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">INSUMOS</span></div></div>

    <!--validador a mi modo-->
    {% if form.errors %}
        <div class="alert alert-danger alert-secondary">
            <h3>Ha ocurrido un error en los siguientes campos del formulario diligenciado:</h3>
            {{ form.errors }}
            <!--
            <po style="text-align: center">
              <strong>
                  <button style="border-radius: 5px">
                      <a href="{% url 'insumos'%}" style="text-decoration: none; color: #0c0c0c">
                  Clique aquí para volver al formulario e ingresar valores validos
                      </a>
                  </button>
              </strong>
            </po>
                -->
            <hr>
        </div>
    {% endif %}
    <!--/validador a mi modo-->


 <!---------------------------------------------------Inicio form insumos ----------------------------------------------------------------->
    <div class="card card-danger insu-form">

        <!--.card-header Formulario Insumos -->

        <div class="card-header form-insu-header card-h-insu">
          <h3 class="tablet">{{ titulo }}</h3>

          <a href="{% url 'lista_insumos' %}" style="margin-left: 15%;">
              <button class="btn-edit-prov" style="padding: 7px;">
                  Ver insumos
              </button>
          </a>

        </div>
        <!-- /.card-header Formulario Insumos -->

        <!--Inicio formulario Insumos-->
        <div class="card-body">

            <form method="post" action="{% url 'registrar_insumo' %}">

               {% csrf_token %}
               <input type="hidden" name="action" value="{{ action }}">

                <div class="form-group insu-selec">
                    <label for="forminsumos" class="insu-selec-nom">Seleccione un tipo de insumo</label>

                      {{ form.visible_fields.0}}
                </div>



                <div class="form-group">
                <label class="insu-tipo-nom" for="insudescr">{{ form.especificacion_insumo.label }}</label>

                   {{ form.visible_fields.1}}

                </div>


                <div class="form-group">
                <label for="Insuinvent">Cantidad o estado en inventario</label>

                   {{ form.visible_fields.2}}
                </div>


                <div class="cos-uni form-group">
                    <label class="cos-uni-tit">Costo por unidad de medida</label>
                    <div class=" Costo-Unidad">

                        <div class="cost-f form-group">
                            <label for="insucost">Costo</label>

                            {{ form.visible_fields.3}}

                           

                        </div>

                        <div class="cost-u form-group">
                            <label for="insu-unid">Unidad</label>

                             {{ form.visible_fields.4}}

                        </div>

                    </div>
                </div>


                <div class="">
                  <input type="submit" value="Añadir" class="btn btn-success button-submit float-right InsuvbtnAjax">
                </div>


            </form>

        </div>
        <!--/I formulario Insumos-->

 </div>
    <!---------------------------------------------------Final form insumos ----------------------------------------------------------------->

 <script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);

                alert(textStatus + 'Error :  Ajax ' + errorThrown);
            }).always(function (data) {

            });
        });


</script>

{% endblock %}