{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos - Nuevo Proveedor
{% endblock %}

{% block content %}
    <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">INSUMOS</span></div></div>

    <!--validador a mi modo-->
    {% if form.errors %}
        <div class="alert alert-danger alert-secondary">
            <h3>Ha ocurrido un error en los siguientes campos del formulario diligenciado:</h3>
            {{ form.errors }}
            <!--
            <po style="text-align: center">
              <strong>
                  <button style="border-radius: 5px">
                      <a href="{% url 'insumos'%}" style="text-decoration: none; color: #0c0c0c">
                  Clique aquí para volver al formulario e ingresar valores validos
                      </a>
                  </button>
              </strong>
            </po>
                -->
            <hr>
        </div>
    {% endif %}
    <!--/validador a mi modo-->

    <!--Inicio formulario proveedor-->
    <div class="card card-danger prov-form">
        <div class="card-header form-prov-header">
          <h3 class="card-title">Registrar nuevo proveedor</h3>
            <!--
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
            -->
        </div>

        <div class="card-body">
            <form method="post" action="{% url 'registrar_proveedor' %}">


                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">


              <div class="form-group">
                <label for="ProvName">Nombre establecimiento / persona</label>

                    {{ form2.nombre_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvMerca">Insumos que vende</label>

                {{ form2.Insumos_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvTel">Número de teléfono</label>

                  {{ form2.telefono_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvEmail">Correo eléctronico</label>
                 {{ form2.correo_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvDir">Dirección del local</label>
                 {{ form2.ubicacion_proveedor }}
              </div>

              <div class="button-submit-div">
                <input type="submit" value="Añadir" class="btn btn-success button-submit-2 ProvbtnAjax">
              </div>

        </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!--/FIN formulario proveedor-->
<script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });


</script>

{% endblock %}