{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos - Nuevo Proveedor
{% endblock %}

{% block content %}
    <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">INSUMOS</span></div></div>

    <!--Inicio formulario proveedor-->
    <div class="card card-danger prov-form ">
        <div class="card-header form-prov-header card-h-insu">
          <h3 class="tablet">{{ titulo }}</h3>

          <a href="{% url 'lista_proveedores' %}" style="margin-left: 1%;">
              <button class="btn-edit-prov" style="padding: 7px;">
                  Ver proveedores
              </button>
          </a>

        </div>

        <div class="card-body">


            <form method="post" action="{% url 'registrar_proveedor' %}">

                <!--validador a mi modo-->

                <!--/validador a mi modo-->

                {% csrf_token %}


                <input type="hidden" name="action" value="{{ action }}">


              <div class="form-group">
                <label for="ProvName">Nombre establecimiento / persona</label>


                    {{ form.visible_fields.0}}

              </div>

              <div class="form-group">
                <label for="ProvMerca">Insumos que vende</label>

                    {{ form.visible_fields.1}}
              </div>

              <div class="form-group">
                <label for="ProvTel">Número de teléfono</label>

                  {{ form.visible_fields.2}}
              </div>

              <div class="form-group">
                <label for="ProvEmail">Correo eléctronico</label>
                 {{ form.visible_fields.3}}
              </div>

              <div class="form-group">
                <label for="ProvDir">Dirección del local</label>
                 {{ form.visible_fields.4}}
              </div>

              <div class="button-submit-div">
                <input type="submit" value="Añadir" class="btn btn-success button-submit-2 ProvbtnAjax">
              </div>

        </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!--/FIN formulario proveedor-->
<script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + 'error : Ajax' + errorThrown);

            }).always(function (data) {

            });

        });



</script>

{% endblock %}