{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos - Opciones
{% endblock %}


{% block content %}
    <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">INSUMOS</span></div></div>

    <!--Lista opciones insumos-->
    <div class="card card-danger prov-form">


        <div class="card-header form-prov-header" style="justify-content: center !important; " >
          <h3 class="card-title table-t" style="text-align: center !important; ">
              <i class="fas fa-box-open"> </i>
              Mis insumos y proveedores
              <i class="fas fa-user-tie"> </i>
r

          </h3>

        </div>

        <div class="card-body">

            <a href="{% url 'registrar_insumo' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Añadir insumos
                </button>
            </a>

            <hr>

            <a href="{% url 'lista_insumos' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Mi lista de insumos
                </button>
            </a>

            <hr>

            <a href="{% url 'registrar_proveedor' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                       Añadir proveedores
                </button>
            </a>

            <hr>

            <a href="{% url 'lista_proveedores' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Mi lista de proveedores
                </button>
            </a>


        </div>
        <!-- /.card-body -->
    </div>
    <!--/FIN lista opciones insumos-->


{% endblock %}