{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos
{% endblock %}


{% block content %}

  <!--Encabezado de sección-->
  <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">Insumos</span></div></div>

    <!--validador a mi modo-->
    {% if form.errors %}
        <div class="alert alert-danger alert-secondary">
            <h3>Ha ocurrido un error en los siguientes campos del formulario diligenciado:</h3>
            {{ form.errors }}
            <p style="text-align: center">
              <strong>
                  <button style="border-radius: 5px">
                      <a href="{% url 'insumos'%}" style="text-decoration: none; color: #0c0c0c">
                  Clique aquí para volver al formulario e ingresar valores validos
                      </a>
                  </button>
              </strong>
            </p>

            <hr>
        </div>
    {% endif %}
    <!--/validador a mi modo-->


    <!---------------------------------------------------Inicio form insumos ----------------------------------------------------------------->
        <div class="card card-danger insu-form">

        <!--.card-header Form Insumos -->
        <div class="card-header form-insu-header">
          <h3 class="card-title">Registrar información insumos</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header Form Insumos -->

        <!--.card-body Form Insumos -->
        <div class="card-body">

            <form method="post" action="{% url 'registrar_insumo' %}">

                {% csrf_token %}


            <div class="form-group insu-selec">
                <label for="forminsumos" class="insu-selec-nom">{{ form.tipo_insumo.label }}</label>

                  {{ form1.tipo_insumo }}
              </div>


              <div class="form-group">
                <label class="insu-tipo-nom" for="insudescr">Tipo, marca y otras especificaciones</label>

                  {{ form1.especificacion_insumo }}
              </div>


              <div class="form-group">
                <label for="Insuinvent">Cantidad o estado en inventario</label>

                  {{ form1.estado_insumo }}
              </div>


              <div class="cos-uni form-group">
                <label class="cos-uni-tit">Costo por unidad de medida</label>
                <div class=" Costo-Unidad">

                  <div class="cost-f form-group">
                    <label for="insucost">Costo</label>

                     {{ form1.costxunid_insumo_costo }}
                  </div>

                  <div class="cost-u form-group">
                    <label for="insu-unid">Unidad</label>

                      {{ form1.costxunid_insumo_unidad }}
                  </div>

                </div>
              </div>


              <div class="button-submit-div">
              <input type="submit" value="Añadir" class="btn btn-success button-submit">
              </div>


            </form>
        </div>
        <!-- /.card-body Form Insumos -->

    </div>


    <!---------------------------------------------------Final form insumos ----------------------------------------------------------------->


    <!--INCLUDE TABLA INSUMOS-->
    {% include 'ListInsumosInsu.html' %}


    <!---------------------------------------------------Inicio form proveedores------------------------------------------->

    <div class="card card-danger prov-form">
        <div class="card-header form-prov-header">
          <h3 class="card-title">Registrar información proveedores</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="card-body">
            <form method="post" action="{% url 'registrar_proveedor' %}">

                {% csrf_token %}





              <div class="form-group">
                <label for="ProvName">Nombre establecimiento / persona</label>

                    {{ form2.nombre_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvMerca">Insumos que vende</label>

                {{ form2.Insumos_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvTel">Número de teléfono</label>

                  {{ form2.telefono_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvEmail">Correo eléctronico</label>
                 {{ form2.correo_proveedor }}
              </div>

              <div class="form-group">
                <label for="ProvDir">Dirección del local</label>
                 {{ form2.ubicacion_proveedor }}
              </div>

              <div class="button-submit-div">
                <input type="submit" value="Añadir" class="btn btn-success button-submit-2">
              </div>
        </form>
        </div>
        <!-- /.card-body -->
    </div>


    <!---------------------------------------------------Final form proveedores ----------------------------------------------------------------->

      <!--INCLUDE TABLA INSUMOS_PROVEEDORES-->
    {% include 'ListInsumosProv.html' %}


<!--fin del copypaste de adminlte-->


{% endblock %}