{% load static %}

<div class="row tabla-prov table-responsive">
      <div class="col-12 ">
          <div class="card">
              <div class="card-h-prov">
                <h3 class="table-t">Proveedores registrados</h3>

              </div>
              <!-- /.card-header -->

                <!--body tabla-->
              <div class="card-body table-responsive p-0" >
                <br>
                  <table class="table table-head-fixed text-nowrap" id="tabla_proveedores">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre / establecimiento</th>
                      <th>Insumos a la venta</th>
                      <th>Teléfono</th>
                      <th>Correo electrónico</th>
                      <th>Dirección</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for c in object_list2 %}
                        <tr class="obj-tab-prov">
                          <td>{{ c.id }}</td>
                          <td>{{ c.nombre_proveedor }}</td>
                          <td>{{ c.Insumos_proveedor }}</td>
                          <td>{{ c.telefono_proveedor }}</td>
                          <td>{{ c.correo_proveedor }}</td>
                          <td>{{ c.ubicacion_proveedor }}</td>
                          <th>
                              <button type="button" class="btn-edit-prov">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </th>
                          <th>
                              <button type="button" class="btn-borr-prov">
                                  <i class="fas fa-trash"></i>
                              </button>
                          </th>
                        </tr>

                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

          </div>
        <!-- /.card -->
      </div>
        <!--/.col-12-->
    </div>

<!--script para ejecución del data table -->
<script type="application/javascript">
     $(function () {

        $('#tabla_proveedores').DataTable({
                        responsive: true,
                        autoWidth: true,
        });

        $('.ProvbtnAjax').on('click', function () {
            $.ajax({
                url: '{% url "registrar_proveedor" %}',
                type: 'POST',
                data: {id: 1},
                dataType: 'json',
                }).done(function(data) {
                    console.log(data);
                }).fail(function(jqXHR,textStatus,errorThrown) {
                    alert( textStatus+ ' : ' +errorThrown );
                }).always(function(data) {

                });

            });






     });



</script>
<!--/ script para ejecución del data table -->