{% load static %}

<div class="row tabla-insu ">
      <div class="col-12 ">
          <div class="card">
              <div class="card-h-insu">
                <h3 class="table-t">Insumos registrados</h3>
              </div>


              <!-- /.card-header -->
              <div class="card-body  table-responsive p-0" style="height: auto; margin-top: 1%">

                  <table class="table  table-head-fixed text-nowrap" id="MyTableInsumos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Insumo</th>
                      <th>Cantidad en inventario</th>
                      <th>Costo por unidad</th>
                      <th >Tipo, marca y otras especificaciones</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for c in object_list1 %}
                        <tr class="obj-tab-insu">
                          <td style="width: 1%">{{ c.id }}</td>
                          <td style="width: 10%">{{ c.tipo_insumo }}</td>
                          <td style="width: 15%">{{ c.estado_insumo }}</td>
                          <td style="width: 15%">{{ c.costxunid_insumo_costo}} <strong>x</strong> {{ c.costxunid_insumo_unidad }}</td>
                          <td style="width: 57%">{{ c.especificacion_insumo }}</td>
                          <td style="width: 1%">
                              <button type="button" class="btn-edit-insu">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </td>
                          <td style="width: 1%">
                              <button type="button" class="btn-borr-insu">
                                  <i class="fas fa-trash"></i>
                              </button>
                          </td>
                        </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
          </div>
        <!-- /.card -->
      </div>
        <!--/.col-12-->
    </div>

<!--script para ejecución del data table -->
<script type="application/javascript">
    $('#MyTableInsumos').DataTable({
                    responsive: true,
                    autoWidth: false,
                });

</script>
<!--/ script para ejecución del data table -->
