{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos - Mis insumos
{% endblock %}

{% block content %}

 <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">INSUMOS</span></div></div>

<div class="row tabla-insu ">
      <div class="col-12 ">
          <div class="card">
              <div class="card-h-insu">
                <h3 class="table-t">Insumos registrados</h3>

                  <a href="{% url 'registrar_insumo' %}">

                  <button class="btn-edit-prov btnajaxinsu'" style="padding: 8px">

                      Añadir insumo
                  </button>
                  </a>
              </div>


              <!-- /.card-header -->
              <div class="card-body  table-responsive p-0" style="height: auto; margin-top: 1%">

                  <table class="table  table-head-fixed text-nowrap" id="MyTableInsumos">
                  <thead>
                    <tr>

                      <th>Insumo</th>
                      <th>Cantidad en inventario</th>
                      <th>Costo por unidad</th>
                      <th >Tipo, marca y otras especificaciones</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for  c in object_list1 %}
                        <tr class="obj-tab-insu">



                          <td style="width: 10%">{{ c.tipo_insumo }}</td>
                          <td style="width: 15%">{{ c.estado_insumo }}</td>
                          <td style="width: 15%">{{ c.costxunid_insumo_costo}} <strong>x</strong> {{ c.costxunid_insumo_unidad }}</td>
                          <td style="width: 57%">{{ c.especificacion_insumo }}</td>


                            <td style="width: 1%">
                              <a href=" {% url 'editar_insumo' c.id %}" style="color: inherit">
                                <button type="button" class="btn-edit-insu">
                                      <i class="fas fa-edit"></i>
                                </button>
                              </a>

                          </td>

                          <td style="width: 1%">

                              <a href="{% url 'borrar_insumo' c.id %}" style="color: inherit">
                                  <button type="button" class="btn-borr-insu">
                                      <i class="fas fa-trash"></i>
                                  </button>
                              </a>
                          </td>
                        </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
          </div>
        <!-- /.card -->
      </div>
        <!--/.col-12-->
    </div>

<!--script para ejecución del data table -->
<script type="application/javascript">
    $(function () {
        $('#MyTableInsumos').DataTable({
                    responsive: true,
                    autoWidth: false
        });

        $('.btnajaxinsu').on('click', function () {
                $.ajax({
                    url: '{% url 'lista_insumos' %}',
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus+': ERROR AJAX ONCLICK LISTA INSUMOS '+errorThrown);
                }).always(function (data) {

                });
            });


    });

</script>
<!--/ script para ejecución del data table -->
{% endblock %}
