{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Insumos - Mis proveedores
{% endblock %}

{% block content %}

  <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">INSUMOS</span></div></div>

<div class="row tabla-prov table-responsive">
      <div class="col-12 ">
          <div class="card">
              <div class="card-h-prov">
                <h3 class="table-t">Proveedores registrados</h3>

                  <a href="{% url 'registrar_proveedor' %}">

                      <button class="btn-edit-prov btnajaxprov" style="padding: 12px">

                          Añadir proveedor
                      </button>
                  </a>

              </div>
              <!-- /.card-header -->

                <!--body tabla-->
              <div class="card-body table-responsive p-0" >
                <br>
                  <table class="table table-head-fixed text-nowrap" id="tabla_proveedores">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre / establecimiento</th>
                      <th>Insumos a la venta</th>
                      <th>Teléfono</th>
                      <th>Correo electrónico</th>
                      <th>Dirección</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for c in object_list2 %}
                        <tr class="obj-tab-prov">
                          <td>{{ c.id }}</td>
                          <td>{{ c.nombre_proveedor }}</td>
                          <td>{{ c.Insumos_proveedor }}</td>
                          <td>{{ c.telefono_proveedor }}</td>
                          <td>{{ c.correo_proveedor }}</td>
                          <td>{{ c.ubicacion_proveedor }}</td>
                          <th>
                              <button type="button" class="btn-edit-prov">
                                   <a href=" {% url 'editar_proveedor' c.id %}" style="color: inherit">
                                      <i class="fas fa-edit"></i>
                                  </a>
                              </button>
                          </th>

                          <th>
                              <a href="{% url 'borrar_proveedor' c.id %}" style="color: inherit">
                                  <button type="button" class="btn-borr-insu">
                                      <i class="fas fa-trash"></i>
                                  </button>
                              </a>
                          </th>
                        </tr>

                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

          </div>
        <!-- /.card -->
      </div>
        <!--/.col-12-->
    </div>

<!--script para ejecución del data table -->
<script type="application/javascript">
     $(function () {

        $('#tabla_proveedores').DataTable({
                        responsive: true,
                        autoWidth: true,
        });


        $('.btnajaxprov').on('click', function () {
                $.ajax({
                    url: '{% url 'lista_proveedores' %}',
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus+': ERROR AJAX ONCLICK LISTA PROVEEDORES '+errorThrown);
                }).always(function (data) {

                });
            });


     });



</script>
<!--/ script para ejecución del data table -->

{% endblock content %}