{% extends 'baselogin.html' %}

{% load static %}

{% load widget_tweaks %}

<!--title del head-->
{% block title %}
    Ingresar a la cuenta
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/loginprincipalStyle.css' %}">
{% endblock %}


<!--bloque de contenido-->
{% block content%}

   <body class="login-page" style="min-height: 496.58px;">

  <!------contenido del login--------------------------------------------------------------------------------------------------------------------------->

    <div class="login-box">
      <div class="login-logo">
        <img class="logo" src="{% static 'myImg/needlebox-logo1.2.png' %}" alt="NeedleboxLogo">
        <br>
        <a href="{% url 'index' %}"><b>NEEDLEBOX</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Inicia sesión para continuar</p>

          <form action="." method="post">

              {% csrf_token %}

               <!--validador a mi modo-->
                {% if form.errors %}
                    <div class="alert alert-danger alert-secondary">
                         <h5>Ha ocurrido un error al tratar de ingresar:</h5>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div>
                                    <strong style="color: #e9ecef !important;">{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <div>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <!--/validador a mi modo-->

            <div class="input-group mb-3">

                {{ form.username |add_class:'form-control' |attr:'placeholder: Ingrese su nombre de usuario'}}

              <div class="input-group-append">
                <div class="input-group-text ">
                  <span class="fas fa-envelope "></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3 ">

              {{ form.password |add_class:'form-control' |attr:'placeholder: Ingrese su contraseña' |attr:'id:password'}}

              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row recybtn">

              <div class="col-8">
                <div class="see-pass">
                  <input type="checkbox" id="box" onclick ="reveal()">
                  <label for="box" class="see-pass-lab"> Ver contraseña</label>
                </div>
              </div>

              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block btn-estilo">Ingresar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <div class="social-auth-links text-center mb-3">
            <p>- O también -</p>
            <a href="#" class="btn btn-block btn-primary btn-estilo">
              <i class="fab fa-facebook mr-2"></i> Ingrese usando Facebook
            </a>
          </div>

          <p class="mb-1">
            <a href="{% url 'correo_rec_contraseña' %}" class="link-estilo">Olvidé mi contraseña</a>
          </p>

          <p class="mb-0">
            <a href="{% url 'login2' %}" class="text-center link-estilo">Registrarse por primera vez</a>
          </p>

        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
<script type="text/javascript">
    function reveal()
    {
    if(document.getElementById('box').checked)
       {document.getElementById("password").type='text';}
    else
    document.getElementById("password").type='password'
    }
</script>


{% endblock %}


    
