{% extends 'baselogin.html' %}

{% load static %}

{% load widget_tweaks %}

<!--title del head-->
{% block title %}
    Crear nueva cuenta
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/loginregusuStyle.css' %}">
{% endblock %}

{% block content%}

<body class="register-page" style="min-height: 570.58px;">

  <!------contenido del login--------------------------------------------------------------------------------------------------------------------------->

    <div class="register-box">
      <div class="register-logo">
        <img class="logo" src="{% static 'myImg/needlebox-logo1.2.png' %}" alt="NeedleboxLogo">
        <br>
        <a href="/core/index"><b>NEEDLEBOX</b></a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">{{ title }}</p>
    
          <form action="/core/index" method="post">
              {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

            <div class="input-group mb-3">
              {{ form.nomComUsu|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su nombre' }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {{ form.e_mailUsu|add_class:'form-control'|attr:'autocomplete:off' }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {{ form.passwordUsu }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {{ form.conf_passwordUsu }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row reg-usu-acybt">
              <div class="col-8 ">
                <div class="icheck-primary">
                  {{ form.accept_terms }}
                  <label for="agreeTerms" style="font-size: small;" class="acept">
                   Acepto los <a href="#" class="link-estilo">términos y condiciones</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block btn-estilo">Enviar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>


    
          
    
          <a href="{% url 'login1' %}" class="text-center link-estilo">Ya estoy registrado</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
{% endblock %}
