{% extends 'baselogin.html' %}

{% load static %}

<!--title del head-->
{% block title %}
    Recuperar contraseña
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/loginrecpassStyle.css' %}">
{% endblock %}


{% block content%}




  <!------contenido del login--------------------------------------------------------------------------------------------------------------------------->

    <div class="login-box">
      <div class="login-logo">
        <img class="logo" src="{% static 'myImg/needlebox-logo1.2.png' %}" alt="NeedleboxLogo">
        <br>
        <a href="/core/index"><b>NEEDLEBOX</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Si olvidó su contraseña, ingrese su nombre de usuario para recibir un correo y crear una nueva</p>

          <p><b>Tenga en cuenta:</b></p>
          <ul style="text-align: left">
            <li>Si su cuenta está activa, será redireccionado al login tras el envío</li>
            <li>Si no ve el correo en su bandeja principal, considere revisar la carpeta de spam.</li>
          </ul>




          <form action="{% url 'correo_rec_contraseña' %}" method="post">
              {% csrf_token %}
              {{ form.errors }}
            <div class="mb-3">

                <div class="form-group " >
                <label>{{ form.username.label }}</label>
                  {{ form.username }}
                </div>

            </div>





            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block btn-estilo">Solicitar nueva contraseña
                    <i class="fas fa-envelope"> </i>

                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <p class="mt-3 mb-1">
            <a href="{% url 'login1' %}" class="link-estilo">Login</a>
          </p>
          <p class="mb-0">
            <a href="{% url 'login2' %}" class="text-center link-estilo">Registrar nuevo usuario</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>



<script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + 'error : Ajax' + errorThrown);

            }).always(function (data) {
            });

        });
</script>




    </div>

{% endblock %}

