{% extends 'baseotros.html' %}
{% load widget_tweaks %}

{% load static %}

<!--title del head-->
{% block title %}
    NEEDLEBOX - Editar contraseña
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/perfilStyle.css' %}">
{% endblock %}

<!--bloque de contenido-->
{% block content%}
  <!--Encabezado de sección-->
  <div class="mod-act c-perf"><div class="cover"><span class="mod-act-nom">Perfil</span></div></div>


     <!--validador a mi modo-->
    {% if form.errors %}
        <div class="alert alert-danger alert-secondary">
            <h2>Ha ocurrido un error en los siguientes campos del formulario diligenciado:</h2>
            {{ form.errors }}
            <strong>Por favor, diligencie de nuevo el formulario de forma corrrecta</strong>
            <hr>
        </div>
    {% endif %}
    <!--/validador a mi modo-->


  <!--Aqui iria el contenido-->
  <!-- Inicio de perfil y editar perfil-->
  <div class="col-md-9 profile">

    <div class="card">

      <div class="card-header p-2 card-t">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link " href="{% url 'perfil' %}"> <i class="fas fa-user-edit"></i>Volver a perfil</a></li>
          <li class="nav-item"><a class="nav-link active" href="#"> <i class="fas fa-user-edit"></i> Editar contraseña</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'index' %}"> <i class="fas fa-home"></i> Volver a inicio</a></li>
        </ul>
      </div>
        <!-- /.card-header -->


       <!--Selector-->
      <div class="card-body">

         <div class="tab-content">

          <!--------------------------Inicio opción editar información personal----------------------------------------->
          <div class="tab-mod-prof " id="changepassword">



             <form class="form-horizontal" method="post" action=".">
               <input type="hidden" name="next" value="{{ next }}">
                  <input type="hidden" name="action" value="{{ action }}">

                 {% csrf_token %}
                 {{ form.errors }}


              <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Su nueva contraseña</label>
                    <div class="col-sm-10 ">
                        {{ form.password }}
                    </div>
               </div>


              <div class="form-group row">
                   <label for="inputName" class="col-sm-2 col-form-label">Repita la nueva contraseña</label>

                <div class="col-sm-10">
                     {{ form.conf_password }}

                  <div class="see-pass">
                      <input type="checkbox" id="box" onclick ="reveal()">
                      <label for="box" class="see-pass-lab"> Ver contraseñas</label>
                  </div>

                </div>
              </div>




              <div class="form-group row group-btn">
                <div class="offset-sm-2 col-sm-10 group-btn group-btn-2">
                  <input type="submit" class="btn btn-danger save"  value="Guardar cambios">
                </div>
              </div>



            </form>



          </div>

             <!--------------------------fin editar información personal----------------------------------------->


          </div>
          <!--------------------------fin  información personal----------------------------------------->

          <!-- /.tab-pane -->
      </div>
        <!-- /.tab-content -->

    </div><!-- /.card-body -->
  </div>
    <!-- /.card -->

    <!--Fin de perfil y editar perfil-->


<script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + 'error : Ajax' + errorThrown);

            }).always(function (data) {

            });

        });
</script>

<script type="text/javascript">
    function reveal()
    {
    if(document.getElementById('box').checked)
       {document.getElementById("password").type='text';}
    else
    document.getElementById("password").type='password';

    if(document.getElementById('box').checked)
       {document.getElementById("conf_password").type='text';}
    else
    document.getElementById("conf_password").type='password';
    }
</script>

{% endblock %}