{% extends 'baseotros.html' %}
{% load widget_tweaks %}

{% load static %}

<!--title del head-->
{% block title %}
    NEEDLEBOX - Perfil
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/perfilStyle.css' %}">
{% endblock %}

<!--bloque de contenido-->
{% block content%}
  <!--Encabezado de sección-->
  <div class="mod-act c-perf"><div class="cover"><span class="mod-act-nom">Perfil</span></div></div>


     <!--validador a mi modo-->
    {% if form.errors %}
        <div class="alert alert-danger alert-secondary">
            <h2>Ha ocurrido un error en los siguientes campos del formulario diligenciado:</h2>
            {{ form.errors }}
            <strong>Por favor, diligencie de nuevo el formulario de forma corrrecta</strong>
            <hr>
        </div>
    {% endif %}
    <!--/validador a mi modo-->


  <!--Aqui iria el contenido-->
  <!-- Inicio de perfil y editar perfil-->
  <div class="col-md-9 profile">

    <div class="card">

      <div class="card-header p-2 card-t">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#p-info" data-toggle="tab"><i class="fas fa-id-card"></i> Información personal </a></li>
          <li class="nav-item"><a class="nav-link " href="#settings" data-toggle="tab"> <i class="fas fa-user-edit"></i> Editar información personal</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'cambiar_contraseña' %}"> <i class="fas fa-user-edit"></i> Editar contraseña</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'index' %}"> <i class="fas fa-home"></i> Volver a inicio</a></li>
        </ul>
      </div>
        <!-- /.card-header -->


       <!--Selector-->
      <div class="card-body">

         <div class="tab-content">

          <!--------------------------Inicio opción información personal registrada----------------------------------------->
          <div class="tab-pane active" id="p-info">

            <!--Inicio Información personal registrada-->
            <div class="card-body">

              <label><strong> <i class="fas fa-user"></i> Nombre real</strong></label>
              <br>
              <span class="r-userName">{{ request.user.first_name }}</span>

              <hr>

              <label><strong> <i class="fas fa-user-tag"></i> Nombre de usuario</strong></label>
              <br>
              <span class="r-userName">{{ request.user.username }}</span>

              <hr>

              <label><strong><i class="fas fa-envelope-open-text"></i> Correo electrónico</strong></label>
              <br>
              <span class="r-userEmail">{{ request.user.email }}</span>

              <hr>

              <label><strong><i class="fas fa-calendar-day"></i> Fecha de registro</strong></label>
              <br>
              <span class="r-userDater">{{ request.user.date_joined }}</span>

              <hr>

              <label><strong><i class="fas fa-user-clock"></i> Última conexión</strong></label>
              <br>
              <span class="r-userName">{{ request.user.last_login }}</span>

            </div>
            <!--Fin de información personal registrada-->

          </div>
          <!---------------------------fin opción información personal registrada----------------------------------->




          <!--------------------------Inicio opción editar información personal----------------------------------------->
          <div class="tab-pane  tab-mod-prof " id="settings">

              <form class="form-horizontal" method="post" action="{% url 'perfil' %}">
               <input type="hidden" name="next" value="{{ next }}">
                  <input type="hidden" name="action" value="{{ action }}">

                 {% csrf_token %}

               <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Nombre real</label>
                    <div class="col-sm-10">
                        {{ form.visible_fields.0 }}

                    </div>
               </div>


               <div class="form-group row">
                   <label for="inputUserName" class="col-sm-2 col-form-label">Nombre de usuario</label>
                   <div class="col-sm-10">
                        {{ form.visible_fields.1 }}

                   </div>
               </div>

              <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Correo electrónico</label>

                  <div class="col-sm-10">

                    {{ form.visible_fields.3 }}
                </div>
              </div>


              <div class="form-group row">
                   <label for="Pregun-secur" class="col-sm-2 col-form-label">Pregunta de seguridad</label>
                   <div class=" col-sm-10 ">
                       {{ form.visible_fields.4 }}
                   </div>


                  <label for="Pregun-secur-res" class="col-sm-2 col-form-label">Respuesta</label>
                  <div class="col-sm-10">
                      {{ form.visible_fields.5 }}
                  </div>
              </div>

              <div class="form-group row group-btn">
                <div class="offset-sm-2 col-sm-10 group-btn group-btn-2">

                  <input type="submit" class="btn btn-danger save"  value="Guardar cambios">


                  <button type="button" class="btn-2 btn delete">
                      <a style="color:inherit" href="{% url 'borrar_perfil' %}">
                          <i class="fas fa-ban"></i> Eliminar cuenta</a>
                  </button>

                </div>
              </div>

            </form>

          </div>

             <!--------------------------fin editar información personal----------------------------------------->


          </div>
          <!--------------------------fin opción editar información personal----------------------------------------->

          <!-- /.tab-pane -->
      </div>
        <!-- /.tab-content -->

    </div><!-- /.card-body -->
  </div>
    <!-- /.card -->

    <!--Fin de perfil y editar perfil-->


<script>
$('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + 'error : Ajax' + errorThrown);

            }).always(function (data) {

            });

        });
</script>

<script type="text/javascript">
    function reveal()
    {
    if(document.getElementById('box').checked)
       {document.getElementById("inputpass").type='text';}
    else
    document.getElementById("inputpass").type='password';
    if(document.getElementById('box').checked)
       {document.getElementById("inputpass2").type='text';}
    else
    document.getElementById("inputpass2").type='password';
    }
</script>


{% endblock %}