{% extends 'baseotros.html' %}
{% load static %}


 {% block title %}
     NEEDLEBOX - Contáctenos
 {% endblock %}

        <!--mis estilos-->
 {% block mycss  %}
    <link rel="stylesheet" href="{% static 'myCss/contactoStyle.css' %}">
 {% endblock %}




{% block content %}
  <div class="wrapper">

  <!-- Preloader -->
    {% include 'preloaderNeedlebox.html' %}
  <!--fin preloader-->



    <!--Encabezado de sección-->
    <div class="mod-act c-cont"><div class="cover"><span class="mod-act-nom">Contactar a los desarrolladores</span></div></div>
  
    <!--Aqui iria el contenido-->
    
    <div class="card">

      <div class="card-body row">

        <div class="col-5 text-center d-flex align-items-center justify-content-center cont-infoylogo">
        
            <img src="{% static 'myImg/needlebox-logo - 2.png' %}" alt="Needlebox logo" class="need-logo">
            
            <p class="lead mb-5 cont-info">
              Técnica en Programación de Software <br>SENA<br> Itagüí - Colombia<br>
            </p>
        
        </div>


        <div class="col-7 cont-form">
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" id="inputName" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputEmail">Correo electrónico</label>
            <input type="email" id="inputEmail" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputSubject">Asunto</label>
            <input type="text" id="inputSubject" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputMessage">Mensaje</label>
            <textarea id="inputMessage" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary " value="Envíar">
          </div>
        </div>
      </div>

    </div>

     <!--fin del copypaste de adminlte-->
     
  </div>
 

{% endblock %}
