{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/clientesStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Clientes
{% endblock %}


{% block content %}

    <div class="wrapper">

  <!--Encabezado de sección-->
  <div class="mod-act c-client"><div class="cover"><span class="mod-act-nom">Clientes</span></div></div>
    {% if form.errors %}
    <div class="alert alert-danger alert-secondary">
        <h2>Ha ocurrido un error en los siguientes campos del formulario diligenciado:</h2>
        {{ form.errors }}
        <strong>Por favor, diligencie de nuevo el formulario de forma corrrecta</strong>
        <hr>
    </div>
    {% endif %}


  <!--Aqui iria el contenido-->
  <div class="contenido">

    <div class="card card-warning col-sm-12" id="31415">
      <div class="card-header card-t">
        <h3 class="card-title">Añade las generalidades del cliente</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <form method="post" action="{% url 'cliente2' %}">
           {% csrf_token %}

          <div class="row">
            <div class="col-sm-12">
              <!-- textarea -->
              <div class="form-group">
                <label for="info_tec">Medidas e información técnica importante</label>
                {{ form2.infoTCli }}
              </div>
            </div>
          </div>

          <!-- input states -->
          <div class="form-group">
            <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i> Verificación realizada</label>
            {{ form2.ver_ITC }}
          </div>
          <div class="form-group">
            <label class="col-form-label" for="inputWarning"><i class="far fa-bell"></i> Revisar pronto</label>
            {{ form2.revP_ITC }}
          </div>
          <div class="form-group">
            <label class="col-form-label" for="inputError"><i class="far fa-times-circle"></i> Revisar de inmediato</label>
            {{ form2.revIM_ITC }}
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label for="group2">Tipo de prenda más solicitada por el cliente</label>
              <!-- checkbox -->
              <div class="form-group">
                <div class="form-check">
                  {{ form2.prenda }}
                </div>
              </div>
            </div>



            <div class="col-sm-6">
              <!-- radio -->
              <label>Localización de cliente</label>

              <div class="form-group">
                <div class="form-check">
                  {{ form2.tipoCli }}
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-6">
              <!-- Select multiple-->
              <div class="form-group ">
                <label for="estilo_cli">Estilo del cliente</label>
                  {{ form2.estilCli }}
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">

              <!-- select -->
              <div class="form-group">
                <label for="mediopagoh">Medio de pago habitual</label>
                {{ form2.medPag }}
              </div>
            </div>
          </div>


        </form>
        <a href="{% url 'cliente3' %}"><input type="submit" value="Guardar" class="btn btn-success float-right"></a>
      </div>
      <!-- /.card-body -->
    </div>

<!--menu copypaste de adminte---------------------------------------------------------------------------------------------------->

  </div>

<!--fin del div para el contenido-->

</div>



{% endblock %}


