{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Clientes
{% endblock %}


{% block content %}


    <div class="wrapper">


  <div class="mod-act c-client"><div class="cover"><span class="mod-act-nom">Clientes</span></div></div>
  <br>



  <!--Aqui iria el contenido-->
   <div class="card card-danger prov-form">

        <div class="card-header form-prov-header" style="justify-content: center !important; " >
          <h3 class="card-title table-t" style="text-align: center !important; ">
              <i class="fas fa-user-plus"></i>
              Elija la opción deseada
              <i class="fas fa-users"></i>
          </h3>
        </div>


        <div class="card-body">


            <a href="{% url 'cliente1' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Registrar cliente
                </button>
            </a>

            <hr>

            <a href="{% url 'cliente3' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Consultar clientes
                </button>
            </a>

            <hr>


        </div>

        <!-- /.card-body -->
    </div>


<br>
<br>
<br>
  <!--fin del div para el contenido-->


</div><!-- ./wrapper -->


{% endblock %}






