{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/clientesStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Clientes
{% endblock %}


{% block content %}


    <div class="wrapper">

  <!--Encabezado de sección-->
  <div class="mod-act c-client"><div class="cover"><span class="mod-act-nom">Clientes</span></div></div>

  <!--Aqui iria el contenido-->
  <div class="contenido">

    <div class="card card-danger col-md-12" id="3141592">
      <div class="card-header card-t">
        <h3 class="card-title">Añade la información personal del cliente</h3>
      </div>
      <div class="card-body">
        <!-- Date name -->
        <div class="form-group">
          <label>Nombres:</label>

          <div class="input-group">

            <input type="text" class="input-nuevclien" id="NuevCl">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- Date mm/dd/yyyy -->
        <div class="form-group">
          <label>Apellidos:</label>
          <div class="input-group">

            <input  type="text" class="input-nuevclien" id="ApeNuevCl">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- phone mask -->
        <div class="form-group">
          <label>Teléfono fijo:</label>

          <div class="input-group">

            <input type="text" class="input-nuevclien" id="TelNuevCl">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- phone mask -->
        <div class="form-group">
          <label>Celular:</label>

          <div class="input-group">
            <input type="tel" class="input-nuevclien" id="CelNuevCl">
          </div>
          <!-- /.input group -->
        </div>


        <div class="form-group">
          <label>Correo electrónico:</label>

          <div class="input-group">
            <input type="email" class="input-nuevclien" id="EmNuevCl">
          </div>
          <!-- /.input group -->
        </div>

        <!-- IP mask -->
        <div class="form-group">
          <label>Dirección:</label>

          <div class="input-group">
            <input type="text" class="input-nuevclien" id="DirNuevCli">
          </div>
          <br>
          <a href="{% url 'cliente2' %}"><input type="submit" value="Continuar" class="btn btn-success float-right input-addimg"></a>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

      </div>


      <!-- /.card-body -->
    </div>



<!--menu copypaste de adminte---------------------------------------------------------------------------------------------------->



  </div>

  <!--fin del div para el contenido-->


</div>



{% endblock %}



