{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/clientesStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Clientes
{% endblock %}


{% block content %}


    <div class="wrapper">


  <div class="mod-act c-client"><div class="cover"><span class="mod-act-nom">Clientes</span></div></div>
  <br>



  <!--Aqui iria el contenido-->
  <div class="card-body" data-select2-id="30">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" data-select2-id="29">
            <div class="card-body">
                <h2> Elija la acción que desea: </h2>

            </div>

            <a href="{% url 'cliente1' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Registrar nuevo cliente
                </button>
            </a>

            <hr>

            <a href="{% url 'cliente3' %}">
                <button class="mod-op  mod-name" style="border-radius: 5px; padding: 8px;">
                      Consultar o modificar cliente registrado
                </button>
            </a>



        </div>

      </div>

    </div>

  </div>

<br>
<br>
<br>
  <!--fin del div para el contenido-->


</div><!-- ./wrapper -->


{% endblock %}






