{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/clientesStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Clientes
{% endblock %}

{% block content %}

    <div class="wrapper">

  <!--Encabezado de sección-->
  <div class="mod-act c-client"><div class="cover"><span class="mod-act-nom">Clientes</span></div></div>


  <!--Aqui iria el contenido-->

    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header" style="background-color: #F0B27A">
          <h3 class="card-title">Información adicional Cliente 1 </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

        <ol>
                {% for c in object_list2 %}
                 <ul style="list-style: none">
                      <li >{{ c.infoTCli }}</li>
                      <li>{{ c.ver_ITC }}</li>
                      <li>{{ c.revP_ITC }}</li>
                      <li>{{ c.revIM_ITC }}</li>
                      <li>{{ c.prenda }}</li>
                      <li>{{ c.tipoCli }}</li>
                      <li>{{ c.estilCli }}</li>
                      <li>{{ c.medPag }}</li>
                      <li>
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-edit"></i></a>
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </li>
                  </ul>
                  <br>

                {% endfor %}
        </ol>


        </div>
        <!-- /.card-body -->
        <div class="card-footer" style="background-color: #F0B27A">
          Juan Herrera, Tel: 64645
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

<!--/ script para ejecución del data table -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}