body{
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

.animation__shake{
    height: 50vh;
}


.wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5 ;
    box-sizing: content-box;
    width: 100%;
    margin: inherit;
   

}

.cont-bar{
    background-color: #F0B27A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #f5f5f5;

}


.logo-nom{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
    
}


.logito{
    width: 90px;
    margin-top: -22px;
}


.Needlebox{
    color: #ffffff;
    font-weight: bold;
    margin-top: -25px;
    padding-left: 2px; 
       
}


.navbar{
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: fit-content;
    

}

.navbar-ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: content-box;
    width: fit-content;
    padding: 0%;    
}


.navbar-item{
    text-align: center;
    padding: 0%;
    margin: auto;
    text-decoration: none;
}


.nav-link{
    text-decoration:none ;
    color: #ffffff;
    box-sizing: content-box;
    height: fit-content;
    margin: auto; 
}


.nav-link:hover{
    background-color: rgb(250, 222, 191);
    text-decoration: none ;
    color: #8B5F2B;
    font-weight: 600;
    border-radius: 5px;
}


.nav-bar-esp{
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    box-sizing: content-box;
    justify-content: space-around;
}



.mod-op{
    display: flex;
    justify-content: center;
    height: max-content;
    width: 18%;
    border-top: solid;
    border-radius: 5px;
    border-top-color:transparent;
    margin: 4px auto;
    background-color:  #764A09;
    color: #ffffff !important;
}



.mod-name{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 100%;
    font-size: 135%;
    border-radius: 2px;
}


.mod-op:hover{
    box-shadow:  1px 0px 7px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: #452B04 !important;
}


.contenido{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   box-sizing:initial;
   padding: 1% 0%;  
   width: fit-content;
   margin: auto;
}


/*-------------------------------------------------código css par ecabezado del módulo actualo--------------------------------------------------------------------*/

.mod-act{
    margin: 1% auto 20px;
    width: 85%;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    filter: blur(6%);
    border-style: solid;
    border-color: #764A09;
    color: #452B04 !important;
    border-width: 1px;
    font-size: 250%;
    font-weight: 300;
    font-style: normal;
}


/* -----------------------------------CSS para modificar el puto copy-paste-----------------------------------------------------------------*/
.copypaste{
    margin: auto;
}

.card-card-default{
    box-sizing: border-box;
    display: flex;
    float: none;
    line-height: 24px;
    position: relative;
    z-index: auto;
}

.card-body{
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
}

#31415{
    box-sizing: border-box;
    display: inline-block;
    float: none;
    line-height: 24px;
    position: relative;
    z-index: auto;
    padding-left: 0%;
}

#3141592{
    box-sizing: border-box;
    display: inline-block;
    float: none;
    line-height: 24px;
    position: relative;
    z-index: auto;

}


.card-t{
    background-color: #F0B27A !important;
    color: #ffffff !important;    
    margin: -2% !important;
}


h3 {
    font-weight: 600 !important;
}


.input-nuevclien{
    border-width: 1px;
    border-color: #8b602b8e;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
}


.input-addimg{
    border-color: #8b602b8e !important;
    color: #8b602b ;
}


.btn-success, .btn-secondary, 
.btn-info, .btn-primary, 
.btn-danger{
    background-color:#764A09 !important;
    border-color: #ffffff;
    color: #ffffff;
}


.btn-success:hover, .btn-success:focus, 
.btn-secondary:hover, .btn-secondary:focus,
.btn-info:hover, .btn-info:focus,
.btn-primary:hover, .btn-primary:focus,
.btn-danger:hover, .btn-danger:focus{
    color: #452B04 !important;
    background-color: #F0B27A !important;
    border-color: #452B04;
    text-decoration: none;
}


.page-link{
    color: #452B04;
    background-color: #F0B27A;
    border-color: #ffffff;
}


.page-item.active .page-link, .page-link:hover, .page-link:focus, 
 .page-item.active:hover, .page-item.active:focus{
    color: #f1f1f1 !important;
    background: #764A09 !important;
    border-color: #ffffff !important;
}

.disabled .page-link{

    color: #ffffff !important;
    background-color: #F0B27A !important;
    border-color: #ffffff !important;

}

.demo-html{
    width: 65% ;
}








/*---------------------------------------------------------------------------------------------------------------------------------------- */



footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: inherit;
    margin: auto;
    background-color: #764A09;
    color: #ffffff;
    padding-bottom: 0.5%;
    border-top: 2px solid rgb(199, 199, 199);
}


.copyaut{
    margin: inherit;
    box-sizing: content-box;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.nomproy, .año, .disclaimer{
    
    width: fit-content;
    padding: 0%;
    margin: 0% auto ;    
    text-align: center;
}

.disclaimer a{
    text-decoration: none;
    color: white;
}


@media only screen and (min-width:1024px) {
    /*Aquí van todos los estilos CSS*/
    .logo-nom{
        margin: auto 1.1% auto auto;
      

    }    
        
    .navbar-ul{
        margin: auto auto auto -1%;
      

    }

}


@media only screen and (max-width:945px) {

    .demo-html{
        width: 85% ;
    }


}

@media only screen and (max-width:945px) {

    .demo-html{
        width: 85% ;
    }


}



@media only screen and (max-width:768px) {
    /*Aquí van todos los estilos CSS*/
   
    .dataTables_info{
        text-align: center;
    }



   .pagination, .resp-tabla{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
        
   
    
}



@media only screen and (max-width:640px) {
    /*Aquí van todos los estilos CSS*/
      
    .mod-op{
        width: fit-content;
        margin: 1.5% 3px; 
        padding: 1% 4%;
        border-top: 3px solid rgb(117, 12, 255); 
        border-radius: 5%;    
        color: black;
        border-style:none;
    }
    
}


@media only screen and (max-width:526px) {
    /*Aquí van todos los estilos CSS*/
   
    
    
    .mod-op{
        width: fit-content;
        margin: 1.5% 3px; 
        padding: 1% 4%;
        border-top: 3px solid rgb(117, 12, 255); 
        border-radius: 5%;    
        color: black;
        border-style:none;
    }
   
    
}







