body{
    width: 100%;
    margin: auto;
    background-color: #ffffff;   
}

.animation__shake{
    height: 50vh;
}


.wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5 ;
    box-sizing: content-box;
    width: 100%;
    margin: inherit;
}


.cont-bar{
    background-color: #F0B27A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #f5f5f5;
}


.logo-nom{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: auto;
}


.logito{
    width: 90px;
    margin-top: -22px;
}


.Needlebox{
    color: #ffffff;
    font-weight: bold;
    margin-top: -25px;
    padding-left: 2px;    
}


.navbar-ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: content-box;
    width: fit-content;
    padding: 0%;    
}


.navbar-item{
    text-align: center;
    padding: 0%;
    margin: auto;
    text-decoration: none;
}


.nav-link{
    text-decoration:none ;
    color: #ffffff;
    box-sizing: content-box;
    height: fit-content;
    margin: auto; 
}


.nav-link:hover{
    background-color: rgb(250, 222, 191);
    text-decoration: none ;
    color: #8B5F2B;
    font-weight: 600;
    border-radius: 5px;
}

.nav-link-elect {
    background-color: rgb(250, 222, 191);
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 7px;
}

.n-e{
    color: #8B5F2B;
}


.navbar-item:hover{
    margin: 4px 4px;
}


/*-------------------------------------------------código css par ecabezado del módulo actualo--------------------------------------------------------------------*/
.mod-act{
    margin: 1% auto 2%;
    width: 85%;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    filter: blur(6%);
    border-style: solid;
    border-color: #764A09;
    color: #452B04 !important;
    border-width: 1px;
    font-size: 250%;
    font-weight: 300;
    font-style: normal;
}


.card {
    width: 84%;
}

.cont-infoylogo{
    display: flex;
    flex-direction: column ;
    justify-content: center;
        
}

.need-logo{
    width: 35%;
    margin: 0% auto 2% auto;
    padding-top: 0%;
}


.btn-primary{
    background: #8B5F2B;
    color: #ffffff;
    border-color: #8B5F2B;
}

.btn-primary:hover{
    color: #ffffff;
    background: #764A09;
    border-color: #8B5F2B;
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: inherit;
    margin: auto;
    background-color: #764A09;
    color: #ffffff;
    padding-bottom: 0.5%;
    border-top: 2px solid rgb(199, 199, 199);
}


.copyaut{
    margin: inherit;
    box-sizing: content-box;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.nomproy, .año, .disclaimer{
    
    width: fit-content;
    padding: 0%;
    margin: 0% auto ;    
    text-align: center;
}


.disclaimer a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width:1024px) {
    /*Aquí van todos los estilos CSS*/
    .logo-nom{
        margin: auto 1.1% auto auto;
    }    
        
    .navbar-ul{
        margin: auto auto auto -1%;
    }

}


@media only screen and (max-width:770px) {
    .need-logo{
        width: 90px;
    }


}


@media only screen and (max-width:640px) {
    /*Aquí van todos los estilos CSS*/
      
    .mod-op{
        width: fit-content;
        margin: 1.5% auto; 
        padding: 1% 4%;
        border-top: 3px solid rgb(117, 12, 255); 
        border-radius: 5%;    
        color: black;
    }   
}



@media screen and (max-width:377px){
    .card{
        width: 93%;
    }


    .card-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .cont-infoylogo{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    } 
    
   
    .need-logo{
        width: 115%;
    }
    
    .cont-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 110%;
        width: 280%;
    }

    .cont-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .form-group{
        width: max-content;
        text-align: center;
    }


}


@media screen and (max-width:330px) {
    .mod-act-nom{
        font-size: 70%;

    }

    .c-cont{ 
        background-size: cover;  
    }


}
