{% extends 'basemodulos.html' %}
{% load static %}



    {% block title %}
    NEEDLEBOX - Mostrar Pedidos
    {% endblock %}


    {% block  mycss %}
      <!--Mis estilos-->
      <link rel="stylesheet" href="{% static 'myCss/pedidosMostrarStyle.css' %}">
    {% endblock %}



{% block content %}

  <!--Encabezado de sección-->
  <div class="mod-act c-ped"><div class="cover"><span class="mod-act-nom">Pedidos</span></div></div>

 
  <!--Aqui iria el contenido-->

    <!-- INCLUDE TABLA PEDIDOS -->
    {% include 'tablapedidos.html' %}

        
  <!--fin del copypaste de adminlte-->


{% endblock %}