{% extends 'basemodulos.html' %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'myCss/insumosStyle.css' %}">
{% endblock %}

{% block title %}
    NEEDLEBOX - Mis pedidos
{% endblock %}

{% block content %}

 <div class="mod-act c-insu"><div class="cover"><span class="mod-act-nom">PEDIDOS</span></div></div>

<div class="row tabla-insu ">
      <div class="col-12 ">
          <div class="card">
              <div class="card-h-insu">
                <h3 class="table-t">Pedidos registrados</h3>

                  <a href="{% url 'registrar_pedido' %}">

                  <button class="btn-edit-prov btnajaxinsu'" style="padding: 8px">
                      Añadir pedido
                  </button>
                  </a>
              </div>


              <!-- /.card-header -->
              <div class="card-body  table-responsive p-0" style="height: auto; margin-top: 1%">

                  <table class="table  table-head-fixed text-nowrap" id="MyTableInsumos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Cliente</th>
                      <th>Detalles</th>
                      <th>Costo</th>
                      <th>Recepción</th>
                      <th>Entrega</th>
                      <th>Medio de entrega</th>
                      <th>Detalle entrega</th>
                      <th>Avance</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for c in object_list %}
                        <tr class="obj-tab-insu">
                          <td style="">{{ c.id }}</td>
                          <td style="">{{ c.nombCli }}</td>
                          <td style="">{{ c.descriped }}</td>
                          <td style="">{{ c.costoped }}</td>
                          <td style="">{{ c.fecharec}} </td>
                          <td style="">{{ c.fechaLiEn }}</td>
                          <td style="">{{ c.medentr }}</td>
                          <td style="">{{ c.DetailEntr }}</td>
                          <td style="">{{ c.estped }}</td>


                            <td style="width: 1%">
                              <a href=" {% url 'editar_pedido' c.id %}" style="color: inherit">
                                <button type="button" class="btn-edit-insu">
                                      <i class="fas fa-edit"></i>
                                </button>
                              </a>

                          </td>

                          <td style="width: 1%">

                              <a href="{% url 'borrar_pedido' c.id %}" style="color: inherit">
                                  <button type="button" class="btn-borr-insu">
                                      <i class="fas fa-trash"></i>
                                  </button>
                              </a>
                          </td>
                        </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
          </div>
        <!-- /.card -->
      </div>
        <!--/.col-12-->
    </div>

<!--script para ejecución del data table -->
<script type="application/javascript">
    $(function () {
        $('#MyTableInsumos').DataTable({
                    responsive: true,
                    autoWidth: false
        });

        $('.btnajaxinsu').on('click', function () {
                $.ajax({
                    url: '{% url 'lista_insumos' %}',
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus+': ERROR AJAX ONCLICK LISTA INSUMOS '+errorThrown);
                }).always(function (data) {

                });
            });


    });

</script>
<!--/ script para ejecución del data table -->
{% endblock %}



