{% load static %}

<div class="cont-bar">

      <div class="logo-nom">
        <a href="/index"><img src="{% static 'myImg/needlebox-logo.png' %}" alt="Neddlebox logo" class="logito"></a>
        <span class="Needlebox">NEEDLEBOX</span>
      </div>


        <!-- Left navbar links -->

        <ul class="navbar-ul">


          <li class="navbar-item">
            <a href="/perfil" class="nav-link">PERFIL</a>
          </li>

          <li class="navbar-item">
            <a href="/nosotros" class="nav-link">NOSOTROS</a>
          </li>

          <li class="navbar-item">
            <a href="/error" class="nav-link">REPORTAR ERROR</a>
          </li>

          <li class="navbar-item">
            <a href="/ayuda" class="nav-link">AYUDA</a>
          </li>

          <li class="navbar-item">
            <a href="/contactenos" class="nav-link">CONTACTAR A LOS DESARROLLADORES</a>
          </li>

          <li class="navbar-item">
            <a href="/login" class="nav-link">CERRAR SESIÓN</a>
          </li>

        </ul>


    </div>