{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!--viewport para responsive-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> NEEDLEBOX - Inicio</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'lib/css/adminlte.min.css' %}">

  <!--Mis estilos-->
  <link rel="stylesheet" href="{% static 'myCss/indexStyle.css' %}">

  <!--Normalize-->
  <link rel="stylesheet" href="{% static 'myCss/normalize.css' %}">

  <!-- jQuery--> 
  <script src="{% static 'lib/js/jquery.min.js' %}"></script>

  <!-- AdminLTE App  -->
  <script src="{% static 'lib/js/adminlte.js' %}"></script>


</head>


<body>

<div class="wrapper">

  <!-- Preloader -->
  {% include 'preloaderNeedlebox.html' %}
  <!--fin preloader-->


  <!-- header-->
  {% include 'headerSimpleNeedlebox.html' %}
  <!-- fin header -->

  <div class="Contenido">
    
    <!--CLIENTES-->
    <div class="card card-primary card-outline c-client">
      <a href="/clientes">
        <div class="card-header c-ClientH" >
            <h2 class="card-ti m-0">Clientes</h2>
        </div>  
        <div class="card-body c-ClientB">    
            <p>Su agenda de clientes:</p>
            <p class="card-tx">Añada contactos, revise sus datos, actualice la información o borrelos del registro.</p> 
        </div>
      </a>
    </div>

    <!--CRONOGRAMA-->
    <div class="card card-primary card-outline c-crono" >
      <a href="/cronograma">
        <div class="card-header c-CronoH">
            <h2 class="card-ti m-0">Cronograma</h2>
        </div>  
        <div class="card-body c-CronoB">    
            <p>Establezca sus tiempos de trabajo y entrega:</p>
            <p class="card-tx">Evite retrasos con sus pedido, programe su confección y fechas de entrega.</p> 
        </div>
      </a>  
    </div>

    <!--PEDIDOS-->
    <div class="card card-primary card-outline c-ped">
      <a href="/pedidos">
        <div class="card-header c-PedH">
            <h2 class="card-ti m-0">Pedidos</h2>
        </div>  
        <div class="card-body c-PedB">    
            <p>Registre los pedidos de sus clientes:</p>
            <p class="card-tx">Especifique detalles de los encargos como medidas, materiales necesarios y costo final.</p> 
        </div>
      </a>
    </div>


    <!--INSUMOS-->
    <div class="card card-primary card-outline c-insu">
      <a href="/insumos">
        <div class="card-header c-InsuH">
            <h2 class="card-ti m-0">Insumos</h2>
        </div>  
        <div class="card-body c-InsuB">    
            <p>Adiministre sus insumos:</p>
            <p class="card-tx">Añada y actualice sus insumos, así como sus existencias, estado y precio.</p> 
        </div>
      </a>
    </div>


  </div>



 <!-- Main Footer -->

 {% include 'footerNeedlebox.html' %}

 <!-- end main footer -->


</div><!-- ./wrapper -->



</body>
</html>
