{% extends 'baselogin.html' %}

{% load static %}

<!--title del head-->
{% block title %}
    Crear nueva cuenta
{% endblock %}

<!--mis estilos-->
{% block mycss %}
  <link rel="stylesheet" href="{% static 'myCss/loginregusuStyle.css' %}">
{% endblock %}

{% block content%}

<body class="register-page" style="min-height: 570.58px;">

  <!------contenido del login--------------------------------------------------------------------------------------------------------------------------->

    <div class="register-box">
      <div class="register-logo">
        <img class="logo" src="{% static 'myImg/needlebox-logo1.2.png' %}" alt="NeedleboxLogo">
        <br>
        <a href="/index"><b>NEEDLEBOX</b></a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Regístrese por primera vez</p>
    
          <form action="/index" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nombre completo">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Correo">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Ingrese la contraseña de nuevo">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row reg-usu-acybt">
              <div class="col-8 ">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                  <label for="agreeTerms" style="font-size: small;" class="acept">
                   Acepto los <a href="#" class="link-estilo">términos y condiciones</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block btn-estilo">Enviar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <div class="social-auth-links text-center mb-3">
            <p>- O también -</p>
            <a href="#" class="btn btn-block btn-primary btn-estilo">
              <i class="fab fa-facebook mr-2 "></i> Ingrese usando Facebook
            </a>
          </div>
          
    
          
    
          <a href="/login" class="text-center link-estilo">Ya estoy registrado</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
{% endblock %}
